body {
    background-image: url("les.jpg");
    background-size: 1920px 1080px;
    background-attachment: fixed;
    opacity: 0.9;
    background-color: #ecf1ef;
}

table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    border-radius: 10px;
    border-spacing: 0;
    text-align: center;
    width: 95%;
    margin-left: auto;
    margin-right: auto;

}

th {
    background: #ff9d9d;
    color: slateblue;
    text-shadow: 0 1px 1px #2D2020;
    padding: 10px 20px;


}

th, td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
}

th:first-child, td:first-child {
    text-align: left;
    width: 4%;
    /*color: #e35f5f;*/
}

th:first-child {
    border-top-left-radius: 10px;
}

th:last-child {
    border-top-right-radius: 10px;
    border-right: none;
}

td {
    padding: 4px 7px;
    background: #c9ffa6;
}

tr:last-child td:first-child {
    border-radius: 0 0 0 10px;
}

tr:last-child td{
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
}

tr:last-child td:last-child {
    border-radius: 0 0 10px 0;
}

tr td:last-child {
    border-right: none;
    text-align: center;
}

tr td:nth-child(2) {
    text-align: left;
    width: 5%;
}

tr td:nth-child(3) {
    text-align: left;
    width: 30%;
}

tr:last-child td:nth-child(3){
    width: auto;
    text-align: center;
}

tr td:nth-child(6) {
    text-align: left;
    width: 40%;
}

tr td:nth-child(7) {
    width: 7%;
}

tr:last-child td:last-child{
    width: auto;
    text-align: center;
    background: 0;
    border-color: rgba(255, 0, 0, 0);
}

a {
    display: inline-block;
    padding: 2px 10px;
    /*background: #d7d7d7;*/
    /*box-shadow: 2px 2px 0 0 #757575;*/
    position: relative;
}

a:hover {
    box-shadow: none;
    top: 2px;
    left: 2px;

}


header {
    font-family: "Century Gothic", "Century Gothic", Sans-Serif;
    background-color: #94efde;
    height: 45px;
    width: 99%;
    margin-left: auto;
    margin-right: auto;
    opacity: .9;
    margin-bottom: 15px;
    text-align: center;
}

h2 {
    font-family: "Century Gothic", "Century Gothic", Sans-Serif;
    font-size: 20px;
    background-color: #fae4a0;
    height: 25px;
    width: max-content;
    opacity: .9;
    margin-bottom: 25px;
    margin-left: 30px;
}
.btn_add{
    height:30px;
    width:145px;
    font-size: 14px;
}