body {
    background-image: url("les.jpg");
    background-size: 1920px 1080px;
    background-attachment: fixed;
    opacity: 0.9;
    background-color: #ecf1ef;
}

.table1 {
    border-spacing: 0 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    width: 95%;
    background-color: #ecf1ef;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    word-break: break-all;
}

.table1 th {
    padding: 10px 20px;
    background: #151414;
    color: #6ff941;
    border-right: 2px solid;
    font-size: 24px;
}

.table1 th:first-child {
    text-align: left;
}

.table1 th:last-child {
    border-right: none;
}

.table1 td {
    vertical-align: middle;
    padding: 15px;
    font-size: 18px;
    text-align: center;
    border-top: 2px solid #56433D;
    border-bottom: 2px solid #56433D;
    border-right: 2px solid #56433D;
}

.table1 td:first-child {
    border-left: 25px;
    /*border-right: none;*/
    text-align: left;
    width: 5%;
}

.table1 td:nth-child(2){
    text-align: left;
    width: 35%;
}

.table1 td:last-child {
    text-align: left;
    width: 40%;
}

.table2 {
    border: 0;
    /*background-color: #ecf1ef;*/
    border-spacing: 0 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    word-break: break-all;
}

.table2 td:first-child {
    text-align: left;
}

.table2 td:nth-child(2){
    width: 7%;
    text-align: right;
}

.table2 td:last-child{
    width: 7%;
    text-align: right;
}

.inp_comment{
    width: 100%;
}

