{% extends "templates/base.html" %}

{% block title %} Заказать билет {% endblock %}

{% block content %}

<p><h3 align="center"> Заказ авиабилета </h3><p>

<form action="{% url 'order' %}" method="POST" class="row g-3">
    <input type="text" class="form-control" placeholder="Введите ваше имя" name="name"><br>
    <input type="text" class="form-control" placeholder="Откуда летите?" name="fly_from"><br>
    <input type="text" class="form-control" placeholder= "Куда направляетесь?" name="fly_to"><br>
    <input type="text" class="form-control" placeholder="Введите количество пассажиров" name="number_of_passangers"><br>
    <input type="date" class="form-control" placeholder= "Введите дату отправления" name="fly_date"><br>

    <input type="submit" class="btn btn-primary" value="Заказать"><br>
</form>

{% endblock %}